<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>宅宅生活收藏夹</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for("static", filename="image/logo.png")}}" width="130" height="35" alt>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                首页
            </a>
            <a class="navbar-item" href="{{ url_for("share") }}">
                我要提供
            </a>
            <a class="navbar-item" href="{{ url_for("thanks") }}">
                赞赏作者 👍
            </a>
            <a class="navbar-item" target="_blank" href="https://lijianxun.top">
                作者博客
            </a>
            <a class="navbar-item" target="_blank" href="https://support.qq.com/products/79474">
                我要吐槽
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <label>
                    <input class="input" type="text" placeholder="搜索...">
                </label>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>

</html>