{% extends "base.html" %}

{% block content %}
    {% for item in result %}
        <div class="card-item">
            <div class="card">
                <div class="card-content">
                    <p class="title" style="font-size: 22px;">
                        <a href="{{ url_for("detail", question_id=item.question_id, page=1) }}">{{ item.title }}</a>
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            数量：{{ item.count }}
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                            {% if item.close %}
                                <small>已关闭</small>
                            {% else %}
                                <small>持续更新</small>
                            {% endif %}
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                            <a href="https://www.zhihu.com/question/{{ item.question_id }}">来源</a>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    {% endfor %}
    <div class="pagination-item">
        <nav class="pagination" role="navigation" aria-label="pagination">
            {% if page != 1 %}
                <a class="pagination-previous">上一页</a>
            {% endif %}
            <a class="pagination-next">下一页</a>
        </nav>
    </div>
{% endblock %}